.loader {
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.loader--out {
  opacity: 0;
}