.app-header {
  padding: 5px 0;
  &__logotype {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
  }
  &__nav {
    margin-left: auto;
  }
  &__list {
    display: inline-block;
    list-style-type: none;
  }
  &__item {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    & > a {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 0.875rem;
    }
    &--dropdown {
      position: relative;
      &:hover {
        & > .app-header__dropdown-list {
          display: block;
        }
      }
    }
  }
  &__dropdown {

  }
  &__dropdown-list {
    display: none;
    background: #000;
    color: #fff;
    position: absolute;
    left: 0;
    top: 20px;
    list-style-type: none;
    padding: 5px 20px;
  }
  &__dropdown-item {

  }
  &--blue {

  }
}